h2 {
    color: dodgerblue;
}

#registerlogin {
    position: absolute;
    width: 350px;
    height: 500px;
    padding: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bookform {
    position: absolute;
    width: 950px;
    height: 500px;
    padding: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    padding: 5px;
}

.form {
    padding: 20px;
}

nav {
    background-color: #4db6ac;
}